<%- include('media/header') %>
        <div class="col-md-9">
          <h2>Welcome to Minimarket Dashboard</h2>
          <p>This is a simple dashboard for managing your minimarket.</p>
        </div>
<%- include('media/footer') %>