</div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  function displayCurrentTime() {
    // Buat objek tanggal dan waktu saat ini
    var currentTime = new Date();

    // Ambil jam, menit, dan detik dari objek tanggal dan waktu
    var hours = currentTime.getHours();
    var minutes = currentTime.getMinutes();
    var seconds = currentTime.getSeconds();

    // Tambahkan nol di depan angka jika kurang dari 10
    hours = (hours < 10 ? "0" : "") + hours;
    minutes = (minutes < 10 ? "0" : "") + minutes;
    seconds = (seconds < 10 ? "0" : "") + seconds;

    // Format waktu dengan format: HH:MM:SS
    var currentTimeString = hours + ":" + minutes + ":" + seconds;

    // Tampilkan waktu di elemen dengan id "current-time"
    document.getElementById("current-time").innerHTML = currentTimeString;
  }

  // Panggil fungsi displayCurrentTime setiap detik (1000 milidetik)
  setInterval(displayCurrentTime, 1000);
</script>
</body>
</html>
